{% extends "lessonmgmt/base.html" %}
{% load bootstrap4 %}

{% block title %}ジャンルの削除{% endblock title %}

{% block content %}

<h5 class="mt-4 mb-5 border-bottom">削除していいですか？</h5>
<form action="{% url 'lessonmgmt:lesson_delete' object.pk %}" method="post">
  {% csrf_token %}
  <h5 class="mt-4 mb-5 border-bottom">{{ object }}</h5>
  <div class="form-group row">
    <div class="offset-md-3 col-md-9">
      <button type="submit" class="btn btn-primary">削除</button>
    </div>
  </div>
</form>
<a href="{% url 'lessonmgmt:lesson_list' %}" class="btn btn-secondary btn-sm">戻る</a>
{% endblock content %}
